---
const menuItems = [
  { name: 'Range builder', link: '/range-builder' },
  { name: 'Ranger trainer', link: '/range-trainer' },
];
---

<nav class="navbar">
  <div class="flex p-4">
    <a href="/" class="absolute">Poker trainer</a>
    <ul class="flex gap-4 justify-around mx-auto">
      {menuItems.map(item => (
        <li class="navbar-item">
          <a href={item.link} class="navbar-link">{item.name}</a>
        </li>
      ))}
    </ul>
  </div>